@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");


body{

  background-color: #ddeefc;
  overflow: hidden;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
  
 
}
#app{
 width: 100vw;
 height: 100vh;
 

 display: flex;
 
 justify-content: center;
 padding: 70px 0 0 0;
 
 
}



.card-form {
    background-color:white;
    width: 500px;
    height: 600px ;
    margin: 70px 0 0 0;
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
  
  }
  .card-form__inner {
    margin: auto;
    padding: 250px 30px 50px 0;
    width: 100%;
    height: 300px;
    text-align: center;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  }
  .card-input {
    user-select: none;
    margin: 0 14px 10px 30px;
  
    
  }
  
  
  .card-input__title {
    display: block;
    text-align: left;
    margin: 0 0 2px 0;
    font-size: 12px; 
    
    
  }
  .card-input__input {
    height: 35px;
    
    margin: 0 0 10px 0;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ced6e0;
    background: none;
    box-shadow: none;
    outline: none;
    
  }
  
  .card-input__input:hover{
    border-color: #3d9cff;
  }
  .card-input__input:focus{
    border-color: #3d9cff;
    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
    
      
  }
  .card-form__row {
    margin: 0 0 0 30px;
   
    
    
    
  }
  .card-form__col {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
    
  }
  
  .-select {
    margin: 0 10px 0 0;
    width: 130px;
    
    
    
  }
  
  .-cvv {
    max-width: 136px;
    margin: 0 0px 0 10px;
    
    
   
   
  }
  .card-form__button {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 24px;
    background-color: blue;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  }



  .wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 2;
    
    
  }
  .card-front {
    width: 400px;
    height: 230px;
    background: blue ;
    
    position: absolute;
    border-radius: 15px;
    padding: 25px;
    
   
    max-width: 400px; 
    
    
  
    
    transition: 1s;
    backface-visibility: hidden;
  }
  
  
  
  .front {
    
    position: relative;
    
  }
  .card-mark {
  }
  .card-mark img{
    
    width: 60px;
    height: 50px;
    margin-bottom: 45px;
    
  
  }
  .card-logo {
  }
  .card-logo img{
    display: block;
    width: 70px;
    height: 50px;
    position: absolute;
    top: 0;
    right:0;
    
    
    
  }
  .card-number {
    margin-left:5px ;
    
  }
  .card-number__number {
    display: flex;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    font-size: 27px;
    margin-bottom: 35px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    
  }
  .card-item__numberItem {
    width: 16px;
    display: inline-block;
    
  }
  .-flipFront{
    transform: rotateY(180deg);
    
  }
  .-flipBack{
    transform: rotateY(360deg);
  }
  
  .-active {
    width: 30px;
  
  }
  .cardHolder {
    cursor: pointer;
    color: white;
    color: #fff;
    width: 100%;
    max-width: calc(100% - 85px);
    font-weight: 500;
    display: block;
    
    
  }
  .card__info {
    
    cursor: pointer;
    width: 250px;
    
    
  }
  .card__holder {
    opacity: 0.7;
    font-size: 13px;
    
    
    
    
    
  }
  .card__name{
    white-space: nowrap;
    overflow-x:hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 18px;
  
    
  }
  .card-expries { 
    flex-wrap: wrap;
    margin-left:auto ;
    font-size: 18px;
    width: 65px;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
    color: white;
    
    
    
  }
  .card-item__content{
    display: flex;
    align-items: flex-start;
    
  
  }
  .card-item__dateTitle {
    
    cursor: pointer;
    display: block;
    opacity: 0.7;
    font-size: 13px;
    
    
    
    
    
  }
  .card-item__dateItem {
    
    position: relative;
    
    
    cursor: pointer;
    
  }
  
  .card-item__dateItem span{
    
    width: 22px;
    display: inline-block;
    
  }
  
  .card-back {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    
    position: absolute;
    
    
    width: 450px;
    height: 280px;
    background-color: blue;
    border-radius: 15px;
    
    
    backface-visibility: hidden;
    transition: 1s;
    transform: rotateY(180deg);
  }
  .wrapper:hover .card-front{transform: rotateY(180deg);}
  .wrapper:hover .card-back{transform: rotateY(360deg);}

  
  .card-band {
    height: 55px;
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
    
  }
  
  .card-cvv {
    
  }
  .card-cvvTitle {
    text-align: right;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 500;
  }
  .card-cvvBand {
    
    box-sizing: border-box;
    height: 40px;
    background-color: white;
    width: 420px;
    margin: 0 15px 0 15px;
    text-align: right;
    border-radius: 5px;
    padding:11px 10px 0 0;
    box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
  }
  .card-type {
    margin-bottom: 20px;
    margin-right: 15px;
    margin-top: 15px;
  }
  .card-type img{
    
    opacity: 0.8;
    width: 70px;
    height: 50px;
  }